@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
/* Base */
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px; 
  font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

.text-black {
  color: #000; }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out !important;
  -o-transition: 0.2s all ease-in-out !important;
  transition: 0.2s all ease-in-out !important;
  top: 0;
  letter-spacing: .05em; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-secondary {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    color: #000; }
  .btn.btn-sm {
    font-size: 14px !important;
    padding: 10px 20px !important; }
  .btn.btn-primary {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .2em; }
  .btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -2px; }

.form-control {
  height: 43px; }
  .form-control:active, .form-control:focus {
    border-color: #306ab2; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative; }
  .site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #306ab2; }
  .site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #306ab2; }

.border-top {
  border-top: 1px solid #edf0f5 !important; }

.site-footer {
  padding: 4em 0;    background: #000;
}
  .site-footer ul li {
    margin-bottom: 10px; }
    .site-footer ul li a {
      color: #fff;
      display: flex;
  }
      .site-footer ul li a:hover {
        color: #306ab2; }
  .site-footer .footer-heading {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }

/* Navbar */
.site-navbar {
  background: #fff;
  margin-bottom: 0px;
  z-index: 1999;
  position: relative; }
  .site-navbar.transparent {
    background: transparent; }
  .site-navbar .site-navbar-top {
    border-bottom: 1px solid #f3f3f4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px; }
    @media (min-width: 768px) {
      .site-navbar .site-navbar-top {
        padding-top: 20px;
        padding-bottom: 20px; } }
  .site-navbar .site-search-icon a span {
    display: inline-block;
    margin-right: 10px; }
  .site-navbar .site-search-icon a:hover {
    text-decoration: none; }
  .site-navbar .site-logo a {
    text-transform: uppercase;
    color: #25262a;
    letter-spacing: .2em;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 2px solid #25262a;  */
  }
    .site-navbar .site-logo a:hover {
      text-decoration: none; }
  .site-navbar a {
    color: #868995; }
    .site-navbar a:hover {
      color: #3d3f45; }
  .site-navbar .icon {
    font-size: 20px; }
  .site-navbar .site-top-icons ul, .site-navbar .site-top-icons ul li {
    padding: 0;
    margin: 0;
    list-style: none; }
  .site-navbar .site-top-icons ul li {
    display: inline-block; }
    .site-navbar .site-top-icons ul li a {
      margin-right: 10px; }
      .site-navbar .site-top-icons ul li a.site-cart {
        display: block;
        position: relative; }
        .site-navbar .site-top-icons ul li a.site-cart .count {
          position: absolute;
          top: 0;
          right: 0;
          margin-right: -15px;
          margin-top: -20px;
          font-size: 13px;
          width: 24px;
          height: 24px;
          line-height: 24px;
          border-radius: 50%;
          display: block;
          text-align: center;
          background: #306ab2;
          color: #fff;
          -webkit-transition: .2s all ease-in-out;
          -o-transition: .2s all ease-in-out;
          transition: .2s all ease-in-out; }
      .site-navbar .site-top-icons ul li a:hover .count {
        -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
        box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3) !important;
        margin-top: -22px; }
    .site-navbar .site-top-icons ul li:last-child a {
      padding-right: 0; }
  .site-navbar .site-top-icons ul .site-menu-toggle {
    font-size: 25px;
    position: relative;
    top: 2px;
    margin-left: 20px; }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active > a {
      color: #fff; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      font-size: 15px;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 10px;
        text-transform: uppercase;
        letter-spacing: .05em;
        color: #fff;
        font-size: 15px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #25262a; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #306ab2;
        -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          font-size: 16px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #306ab2 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f4f5f9;
              color: #25262a; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f4f5f9;
            color: #25262a; }
      .site-navbar .site-navigation .site-menu .has-children a {
        text-transform: uppercase; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #306ab2; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  top: 0;
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 40px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #25262a; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 20px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase;
        color: #25262a;
        letter-spacing: .2em;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        /* border: 2px solid #25262a;  */
      }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #306ab2; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #306ab2; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "FontAwesome";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .site-blocks-cover, .site-blocks-cover .row {
    /* min-height: 445px; */
    height: 70vh;
}
  .site-blocks-cover h1 {
    font-size: 30px;
    font-weight: 900;
    color: #fff; }
    @media (min-width: 800px) {
      .site-blocks-cover h1 {
        font-size: 50px; } }
  .site-blocks-cover p {
    color: #333333;
    font-size: 20px;
    line-height: 35px; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }

.site-blocks-1 {
  border-bottom: 1px solid #edf0f5; }
  .site-blocks-1 .divider {
    position: relative; }
    .site-blocks-1 .divider:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      right: 10px;
      background: #edf0f5; }
    .site-blocks-1 .divider:last-child:after {
      display: none; }
  .site-blocks-1 .icon span {
    position: relative;
    color: #306ab2;
    top: -10px;
    font-size: 50px;
    display: inline-block; }
  .site-blocks-1 .text h2 {
    color: #25262a;
    letter-spacing: .05em;
    font-size: 18px; }
  .site-blocks-1 .text p:last-child {
    margin-bottom: 0; }

.site-blocks-2 .block-2-item {
  display: block;
  position: relative; }
  .site-blocks-2 .block-2-item:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
  .site-blocks-2 .block-2-item .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden; }
    .site-blocks-2 .block-2-item .image img {
      margin-bottom: 0;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
  .site-blocks-2 .block-2-item .text {
    z-index: 2;
    bottom: 0;
    padding-left: 20px;
    position: absolute;
    width: 100%; }
    .site-blocks-2 .block-2-item .text > span, .site-blocks-2 .block-2-item .text h3 {
      color: #fff; }
    .site-blocks-2 .block-2-item .text > span {
      font-size: 12px;
      letter-spacing: .1em;
      font-weight: 900; }
    .site-blocks-2 .block-2-item .text h3 {
      font-size: 40px; }
  .site-blocks-2 .block-2-item:hover .image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.block-3 .owl-stage {
  padding-top: 40px;
  padding-bottom: 40px; }

.block-3 .owl-nav {
  position: relative;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .block-3 .owl-nav .owl-prev, .block-3 .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #5c626e; }
    .block-3 .owl-nav .owl-prev:hover, .block-3 .owl-nav .owl-next:hover {
      color: #25262a; }
    .block-3 .owl-nav .owl-prev.disabled, .block-3 .owl-nav .owl-next.disabled {
      opacity: .2; }

.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: 400ms;

}
.block-4:hover {
  /* transform: translateY(-10px); */
  transform: scale(1.02);
}
  .block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0; }
    .block-4 .block-4-text h3 a {
      text-decoration: none; }

.block-5 ul, .block-5 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5; }

  .block-5 ul li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.block-5 ul li i {
  padding-right: 10px;
}
.block-5 ul li p {
  margin-bottom: 0;
}
  .block-5 ul li:before {
    top: 0;
    font-family: "icomoon";
    content: "";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #fff; }
  .block-5 ul li.address:before {
    content: "\e8b4"; }
  .block-5 ul li.email:before {
    content: "\f0e0"; }
  .block-5 ul li.phone:before {
    content: "\f095"; }

.block-6 {
  display: block; }
  .block-6 img {
    display: block; }
  .block-6 h3 {
    font-size: 18px; }
  .block-6 p {
    color: #737b8a; }

.block-7 .form-group {
  position: relative; }

.block-7 .form-control {
  padding-right: 96px; }

.block-7 .btn {
  position: absolute;
  width: 110px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3px; }

.block-8 .post-meta {
  color: #c4c7ce; }

.block-8 .block-8-sep {
  margin-left: 10px;
  margin-right: 10px; }

.site-blocks-table {
  overflow: auto; }
  .site-blocks-table .product-thumbnail {
    width: 200px; }
  .site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 18px; }
  .site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #212529; }
  .site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #306ab2 !important; }

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important; }

.site-block-order-table td, .site-block-order-table th {
  color: #000; }

.site-block-top-search {
  position: relative; }

  .site-block-top-search .icon {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 15px;
}
form.site-block-top-search button:hover {
  background: #c9dcf3;
}
span.icon.icon-search2:before {
  color: #306ab2;
}
  .site-block-top-search input {
    padding-left: 40px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
    .site-block-top-search input:focus, .site-block-top-search input:active {
      padding-left: 25px; }

.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0; }

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px; }
  .site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc; }
  .site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #306ab2;
    color: #fff;
    border: 1px solid transparent; }

#slider-range {
  height: 8px; }
  #slider-range .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none !important;
    background: #306ab2; }
    #slider-range .ui-slider-handle:focus, #slider-range .ui-slider-handle:active {
      outline: none; }
  #slider-range .ui-slider-range {
    background-color: #306ab2; }

.color-item .color {
  width: 14px;
  height: 14px; }

.block-16 figure {
  position: relative; }
  .block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 90px;
    height: 90px;
    background: #fff;
    display: block;
    border-radius: 50%;
    border: none; }
    .block-16 figure .play-button:hover {
      opacity: 1; }
    .block-16 figure .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-50%, -45%);
      -ms-transform: translate(-50%, -45%);
      transform: translate(-50%, -45%); }

.block-38 .block-38-header .block-38-heading {
  color: #000;
  margin: 0;
  font-weight: 300; }

.block-38 .block-38-header .block-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .1em; }

.block-38 .block-38-header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px; }


  /*custom*/
  .site-logo img {
    width: 170px;
}

.btn-primary {
  color: #fff;
  background-color: #306ab2!important;
  border-color: #306ab2!important;
}
.bg-white {
  background: #fff;
}
a {
  color: #306ab2;
}
.text-primary {
  color: #306ab2!important;
}
.bg-light.py-3 a {
  color: #000;
}
.pb-title {
  padding-bottom: 40px;
  font-weight: bold;
}
/*footer*/
ul.method-pay {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-around;

}
ul.method-pay img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
ul.method-pay li {
  padding: 0 10px;
}
ul.list-unstyled.list-footer li {
  padding-left: 0;
}
/*card*/
p.mb-0.description-card {
  font-size: 16px;
  color: #8c92a0;
  padding: 5px;
}
.price-card {
  font-size: 16px;
}
figure.block-4-image img {
  height: 325px;
  object-fit: contain;
}
.block-4 .block-4-text h3 {
  height: 50px;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.block-4 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item {
  margin-bottom: 25px;
}
/*about*/
.block-16.image-about {
  height: 325px;
  margin: auto;
  display: flex;
  align-items: center;
}
.block-16.image-about figure {
  margin-bottom: 0;
}
/*cart*/
.btn-outline-primary:hover {
  color: #fff;
  background-color: #000001;
  border-color: #000001;
}
.btn-outline-primary {
  color: #306ab2;

  border-color: #306ab2;
}
/**/
.text-success {
  color: #fad438c4!important;
}
.font-bold {
  font-weight: 700;
}

/*Menu*/
.site-mobile-menu-logo img {
  width: 50px;
}
@media (max-width: 768px){
  .site-blocks-cover, .site-blocks-cover .row {
    min-height: 380px;
    align-items: center!important;

}
.item {
  margin-bottom: 25px;
}
}
@media (max-width: 767px){
  .block-16.image-about {
    height: 230px;
 
}
.site-logo img {
  width: 100px;
}
}

@media (max-width: 580px) {
  .site-mobile-menu {
    width: 210px;
  }
  body > div > div.site-blocks-cover.aos-init.aos-animate {
    background-position: right!important;
  }
  .btn.btn-primary {
    font-size: 12px;
   
}
.site-footer {
  padding: 4em 0 2em;
}
}


/**/
.site-section-heading h2 {
  font-weight: bold;
}
nav.site-navigation {
  background: #306ab2;
  /* background: #000; */
}
.bg-light {
  background-color: #306ab2!important;
}
body > div > footer > div > div.row.pt-5.text-center > div > p {
  color: #fff;
  font-weight: bold;
}
body > div > footer > div > div:nth-child(1) > div.col-md-6.col-lg-4 > div > form > div > input.btn.btn-sm.btn-primary {
  background: #306ab2!important;
}

form.site-block-top-search {
  border: 1px solid #ece8f6;
  align-items: center;
  display: flex;
  /* box-shadow: 0px 0px 10px #00000038; */
  box-shadow: 0 0 30px -10px rgb(0 0 0 / 22%);
}

body > div > footer > div > div:nth-child(1) > div.col-md-6.col-lg-4 > ul > li:nth-child(3) > img {
  filter: invert(1);
}
form.site-block-top-search button {
  padding: 0;
  border: 1px solid #ece5f7;
  background: #f7f7f7;
  cursor: pointer;
  width: 75px!important;
  border-left: 1px solid #c9dcf3;
  height: 45px;
  margin: 0;
  position: relative;
  transition: 400ms;
}
span.icon.icon-search2 p {
  margin-bottom: 0;
}
button.button-search p {
  color: #306ab2;
  font-size: 9px;
  margin-bottom: 0;
  font-weight: bold;
  position: absolute;
  left: 9px;
  bottom: 5px;
}
button.button-search-amazon img {
  width: 44px;
 
}
button.button-search-ebay img {
  width: 32px;
 
}
body > div > div.site-section.block-3.site-blocks-2.bg-light > div > div.row.justify-content-center > div > h2 {
color : #fff;

}
body > div > div.site-section.block-3.site-blocks-2.bg-light > div > div.row.justify-content-center > div::before {
  background: #ffffff;

}

body > div > div.bg-light.py-3 {
  background: #fbfbfb!important;
}
form.site-block-top-search button i {
  color: #868995;
 
}

/* .site-section.block-3.site-blocks-2.bg-light i {
  color: #fff;
} */
a:hover {
  color: #fbd22a;
}
/*hero*/
body > div > div.site-blocks-cover.aos-init.aos-animate > div > div > div > div > div > button {
  background: #fff!important;
  border-color: #fff!important;
  color: #0061a7;

}

/*about*/

img.img-fluid.rounded.about-img {
  box-shadow: #306ab2a8 20px 20px;
  height: 300px;
   object-fit: cover; 
}
/*//*/
/* a.btn {
  position: relative;
  transition: 400ms;
}
a.btn:before {
  position: absolute;
  content: "";
  width: 100%;
  background: black;
  height: 100%;
  left: 0;
  top: 0;
}
a.btn:hover:before {
  position: absolute;
  content: "";
  width: 100%;

} */
a.btn {
  transition: 400ms;
}
a.btn:hover,
body > div > footer > div > div:nth-child(1) > div.col-md-6.col-lg-4 > div > form > div > input.btn.btn-sm.btn-primary:hover,
body > div > div.site-section > div > div > div.col-md-7 > form > div > div:nth-child(5) > div > input:hover {
  background: #000!important;
}


/*card product*/
.product-grid {
  text-align: center;
  border-radius: 0;
  border: 1px solid #f9f9f9;
  overflow: hidden;
  transition: all 0.4s ease-out;
  background: #ffff;
  box-shadow: 0 0 30px -10px rgb(0 0 0 / 10%);
  margin: 15px 0;
}
.product-grid:hover{ box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1); }
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-grid .product-discount-label {
  /* font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; */
  padding: 2px 8px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.product-grid .product-links{
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 65%;
  left: 50%;
  transition: all 0.4s ease 0s;
}
.product-grid:hover .product-links{
  opacity: 1;
  top: 50%;
}
.product-grid .product-links li{
  display: inline-block;
  margin: 0 2px;
}
.product-grid .product-links li a{
  color: #2c2c2c;
  background: #fff;
  font-size: 16px;
  line-height: 42px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.4s ease-out 0s;
}
.product-grid .product-links li a:hover{
  color: #fff;
  background: #005ea4;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}
.product-grid .product-links li a:before,
.product-grid .product-links li a:after{
  content: attr(data-tip);
  color: #fff;
  background-color: #555;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 10px;
  white-space: nowrap;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -40px;
  transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:after{
  content: '';
  height: 10px;
  width: 10px;
  padding: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}
.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after{
  display: block;
}
.product-grid .product-content{
  padding: 12px 12px 25px;
  position: relative;
}
.product-grid .rating{
  padding: 0;
  margin: 0 0 8px;
  list-style: none;
}
.product-grid .rating li{
  color: #005ea4;
  font-size: 14px;
}
.product-grid .rating .far{ color: #808080; }
.product-grid .title {
  font-size: 18px;
  /* height: 40px; */
  /* font-weight: 600; */
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 8px;
}
.product-grid .title a{
  color: #2c2c2c;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #005ea4; }
.product-grid .price{
  color: #005ea4;
  font-size: 17px;
  font-weight: 600;
  display: block;
  transition: all 0.4s ease-in-out;
}
.product-grid .price span{
  color: #999;
  font-weight: 500;
  text-decoration: line-through;
}
.product-grid:hover .price{ opacity: 0; }
.product-grid .add-to-cart {
  color: #fff;
  background-color: #005ea4;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 15px;
  border-radius: 3px;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transition: all .4s ease-out;
}
.product-grid .add-to-cart:hover{ background-color: #2f2f2f; }
.product-grid:hover .add-to-cart{
  opacity: 1;
  bottom: 15px;
}
@media screen and (max-width:1200px){
  .product-grid{ margin: 0 0 30px; }
}

img.pic-1.product-image {
  height: 380px;
  object-fit: contain;
  transition: 400ms;
}
span.product-discount-label-2 {
  color: #fff;
  background: #306ab2;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  font-weight: bold;
}
.product-grid:hover .pic-1.product-image {

  filter: blur(2px);
}

/**/
.owl-hero.owl-carousel {
  height: 70vh;
  position: relative;
}
.owl-.owl-hero .owl-nav {
  position: absolute;
  bottom: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
}
.owl-hero .owl-nav i {
  color: #fff;
  margin: 0 15px;
}
button.btn.btn-primary.dropdown-toggle.button-hero {
  background: #ffff!important;
  color: #306ab2;
}
img.img-ebay {
  width: 35px!important;
}

.product-related .owl-nav i {
  color: #fff;
}




/*track*/
.content-track {
    z-index: 0;
    background-color: #ffffff;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 90px;
    border-radius: 0;
    border: 1px solid #939fb1;

}
.content-track p {
  font-family: 'Montserrat', sans-serif!important;

}
.top {
  padding-top: 40px;
  padding-left: 13% !important;
  padding-right: 13% !important
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455A64;
  padding-left: 0px;
  margin-top: 30px
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400
}

#progressbar .step0:before {
  font-family: FontAwesome;
  content: "\f10c";
  color: #fff
}

#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #C5CAE9;
  border-radius: 50%;
  margin: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 12px;
  background: #C5CAE9;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
  left: -50%
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #306ab2
}

#progressbar li.active:before {
  font-family: FontAwesome;
  content: "\f00c"
}

.row.d-flex.icon-content i {
  font-size: 31px;
  color: #306ab2;
  margin-bottom: 10px;
}
.icon-content {
  padding-bottom: 20px
}

@media screen and (max-width: 992px) {
  .icon-content {
      width: 50%
  }
}
.row.d-flex.icon-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.map {
  border: 1px solid #dee2e6;
  margin-bottom: 60px;
}
.map iframe {
  width: 100%;
  height: 300px;
  /* border: 1px solid red; */
}
/* */
.container.content-login {
  margin: auto;
  display: flex;
  justify-content: center;
}
.content-login .main{
  width: 80%;
  min-width: 280px;
	height: 500px;
  background: #fff;
  background: url("../images/hero-3.jpg");
  background-position: center;

	overflow: hidden;
	border-radius: 0px;
	/* box-shadow: 5px 20px 50px #000; */
  box-shadow: 0 0 30px -10px rgb(0 0 0 / 22%);
  position: relative;
}
.content-login .main:before {
  content: "";
  position: absolute;
  background: #ffffff9e;
  width: 100%;
  height: 100%;
}
.content-login #chk{
	display: none;
}
.content-login .signup{
	position: relative;
	width:100%;
	height: 100%;
}
.content-login label{
	color: #000;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px 20px;
	font-weight: bold;
	cursor: pointer;
  transition: .5s ease-in-out;
  text-align: center;
}
.content-login input {
  width: 60%;
  height: 40px;
  background: #fff;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #c6c4cb;
  outline: none;
  border-radius: 2px;
}
.content-login button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #306ab2;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.content-login button:hover {
  background: #ffffff;
  color: #306ab2;
}
.content-login .login{
	height: 460px;
	background: #306ab2;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.content-login .login label{
	color: #fff;
	transform: scale(.6);
}

.content-login #chk:checked ~ .login{
	transform: translateY(-500px);
}
.content-login #chk:checked ~ .login label{
	transform: scale(1);	
}
.content-login #chk:checked ~ .signup label{
	transform: scale(.6);
}
button.login-button {
  background: #fff;
  color: #306ab2;
  transition: 400ms;
}
button.login-button:hover {
  background: #000!important;
  color: #fff!important
}
@media (max-width: 767px) {
  .content-login label{
    font-size: 2em;
  }

}
@media (max-width: 425px) {
  .content-login label{
    font-size: 1.5em;
  }

}
   /*//////////////////////////////////////////////////////////////////
 scroll*/
 
 ::-webkit-scrollbar{
  width: 8px;
  background-color: #f8f8f8;
}
::-webkit-scrollbar-track{
  border-radius: 30px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color:  #3d3d3d;
}
/**/
/*top-nav*/
.top-nav {
  background: black;
  display: none;
}
.top-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  margin-bottom: 0;

}
.top-nav i {
  color: #fff;
  margin: 0 15px;
}
/**/
.fixed-cart {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  background: white;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: none;
  box-shadow: 0 0 30px -10px rgb(0 0 0 / 50%);

}
.fixed-cart span.count{
  position: absolute;
    top: 4px;
    background: black;
    color: #fff;
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 5px;
    box-shadow: 0 0 30px -10px rgb(0 0 0 / 22%);
}
@media (max-width:767px) {
  .fixed-cart {
   
    display: flex;
}
  .top-nav {
    display: flex;
    justify-content: center;
  }
  li.icon-track,
  li.icon-user,
  li.icon-whish,
  li.icon-cart {
    display: none!important;
  }
}


/**/
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #306ab2;
    border-color: #306ab2;
}
